.white {
  position: absolute;
  top: 0px;
  left: 0px;
}

.square {
  width: 80px;
  height: 240px;
  border: 1px solid black;
	box-sizing:border-box;
  float: left;
}

.black {
  position: absolute;
  top: 0px;
  left: -40px;
}

.square2 {
  width: 80px;
  height: 160px;
  border: 1px solid white;
  background-color: black;
	box-sizing:border-box;
  float: left;
  z-index: 1;
}

.black2 {
  position: absolute;
  top: 0px;
  left: 200px;
}

.black3 {
  position: absolute;
  top: 0px;
  left: 440px;
}

.black4 {
  position: absolute;
  top: 0px;
  left: 760px;
}
