.piano {
	display: flex;
	flex-wrap: wrap;
	height: 200px;
	background-color: #eee;
	padding: 10px;
}

.key {
	width: 30px;
	height: 120px;
	margin-right: 1px;
	margin-bottom: 10px;
	border: 1px solid #333;
}

.white {
	background-color: #fff;
}

.black {
	background-color: #000;
	width: 20px;
	height: 80px;
	margin-left: -10px;
	z-index: 1;
}
